.content {
  display: flex;
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding: 35px 0;
}
.detail {
  flex: 1 1 70%;
}
.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }
  .detail + .list {
    margin-top: 25px;
  }
}
@media screen and (max-width: 82rem) {
  .content {
    padding: 35px 20px;
  }
}
