* {
  box-sizing: border-box;
}
.content {
  display: flex;
  position: relative;
  padding: 35px 20px;
}
.content .description {
  flex-grow: 1;
}
.content .list_box {
  flex-shrink: 0;
  width: 30%;
}
.content .list_box:only-child {
  width: 100%;
}
