@value makerGreen, makerLightGrey from '../../common/colors.css';

.cardPreview {
  overflow-y: auto;
  flex-basis: 50%;
  height: 905px;
  padding: 30px 20px;
  border-left: 1px solid makerLightGrey;
}
.conTit {
  padding-bottom: 20px;
  text-align: center;
  color: makerGreen;
}
