@value makerGreen from '../../common/colors.css';

.cardMaker {
  overflow-y: auto;
  flex-basis: 50%;
  height: 905px;
  padding: 30px 20px;
}
.conTit {
  padding-bottom: 20px;
  text-align: center;
  color: makerGreen;
}
