@value mediaQuery from '../../common/size.css';

.makerWrap {
  position: relative;
  height: 100%;
  max-width: 80rem;
  margin: 0 auto;
  background-color: #fff;
}
.content {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 0;
}

@media screen and (max-width: mediaQuery) {
  .content {
    flex-direction: column;
  }
  .content section {
    margin-top: 30px;
  }
  .content section:first-child {
    margin-top: 0;
  }
}
