.loginArea {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}
.content {
  padding: 25px 10px;
  background-color: #fff;
  text-align: center;
}
ul {
  margin-top: 20px;
}
li {
  margin-top: 10px;
}
li:first-child {
  margin-top: 0;
}
button {
  width: 100%;
  padding: 10px;
  border: 1px solid cadetblue;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
